
.table{
    border:solid 2px rgb(221, 221, 221);
}

thead{
    background-color: rgb(163, 197, 252);
}

#formLink {
    color: white;
    text-decoration-line: none;
}

a{
    color: white;
    text-underline: none;
}

.sizeButton{
    min-width: 250px;
}


@media screen and (max-width: 480px) {
    body, .btn, table {
        font-size: 0.8em;
    }
}

@media screen and (min-width: 1600px) {
    body, table {
        font-size: 1.5em;
    }
}

