
footer{
    border-top:outset 2px gray;
    background-color: mediumpurple;

}

footer:hover{
    border-top: outset gray;
}

.none{
    list-style-type: none;
}

a{
    color: white;
    text-underline: none;
}
