.table {
    border: solid 2px;
}

#formLink {
    color: white;
    text-decoration-line: none;
}

a{
    color: white;
    text-underline: none;
}

.sizeButton{
   min-width: 250px;
}

@media screen and (max-width: 480px) {
    body, .btn {
        font-size: 0.8em;
    }
}

