/* sensé corriger un bug IE9 */
html{
    height: 100%;
}

/* modifie le fond d'écran de la page / modify page screenshot */
body{
 /*   position: relative;*/
    background: url("/static/img/book.jpg") fixed no-repeat;
    background-size: cover;
}

/* permet l'ajout de marge du contenu entre la navbar(header) et le footer /
allow to add content margin between the navbar(header) and the footer*/
#content{
    margin-top: 80px;
    margin-bottom: 90px;
    min-height: 100%;
    flex: 1 0 auto;
}

/* en rapport avec materialize / about with materialize */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.container-fluid{
    background-color:rgba(215, 215, 215, 0.5);
    border-radius: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

button{
    background-color: rgb(47, 47, 255);
}


