form{
    font-size: 1.5em;
    color: black;
}

.form-group{
    margin-top: 100px;
}

.name, .firstName, .adress, .phoneNumber, .emailAdress, .title, .author, .numberPage{
    font-family: Serif, sans-serif, "Times New Roman";
    font-size: 1.3em;
    color: black;
}
