
h1, h2{
    text-align: center;
}

.table {
    border: solid 2px rgb(221, 221, 221);
}

thead {
    background-color: rgba(25,191,164, 0.8);
}

a{
    color: white;
    text-underline: none;
}

.buttonList{
    margin-top: 5px;
    min-width: 350px;
}

.linkButton{
    margin-top: 80px;
    text-align: center;
}

@media screen and (max-width: 480px) {
    body, table {
        font-size: 0.8em;
    }
}

@media screen and (min-width: 1600px) {
    body, table {
        font-size: 1.5em;
    }
}

